// heading
.heading {
	flex: 1 0 auto;
	overflow: hidden;
    // padding-top: 80px;
    &-head {
        text-align: center;

        &-btn {
            font-size: 18px;
            color: #fff;
            background: #30C39E;
            height: 32px;
            width: 130px;
            border-radius: 3px;
            // box-shadow: inset 0 1px 1px 0 #0000001a;
            span {
                text-transform: uppercase;
            }
            a {
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    &-text {
        color: #62677A;
        font-size: 18px;
        max-width: 530px;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
        color: #212D3F;
        font-size: 50px;
        font-weight: 600;
    }

    &-block {
        border-bottom: 1px solid #D8D8D8;
        &-info {
            min-height: 158px;
            // width: 295px;
            width: 100%;
            background: #F7F8FA;
            border-radius: 10px;
        }
        &-img {
            background: #fff;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #F0913B;
            font-size: 24px;
        }
        &-title {
            font-size: 22px;
            color: #1D293F;
            font-weight: 500;
        }
        &-text {
            font-size: 14px;
            color: #7C8087;
        }
    }
    .accordion {
        &-text {
            color: #787878;
            font-size: 20px;
            &:hover {
                color: #F0913B;
            }
        }
        // .color {
        //     color: #F0913B;
        // }
        &-collapse {
            border-bottom: 1px solid #D8D8D8;
        }
    }
    &-document {
        &-left {
            width: 50%;
        }
        &-right {
            width: 50%;
        }
        &-list {
            width: calc(100% / 3);
        }
        &-img {
            box-shadow: 0 0 8px 0 #0000004d;
            position: relative;
        }
        &-hov {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #0000009e;
            transition: all .3s ease;
            opacity: 0;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        &-download {
            font-size: 14px;
            color: #FFFFFF;
            font-weight: 500;
        }
        &-bottom-text {
            color: #8C9096;
            font-size: 10px;
        }
        &-link {
            font-size: 18px;
            color: #F0913B;
            text-decoration: revert;
            &:hover {
                color: #F0913B;
                text-decoration: revert;
            }

        }
    }
    &-table {
        &-title {
            font-size: 48px;
            color: #1D293F;
            font-weight: 700;
            max-width: 700px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }
        &-block-title {
            font-size: 24px;
            color: #1D293F;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            border-bottom: 1px solid #D8D8D8;
        }
        &-left {
            width: 50%;
        }
        &-right{
            width: 50%;
        }
        &-content {
            background: rgb(48,100,195);
            background: linear-gradient(90deg, rgba(48,100,195,0.2497373949579832) 0%, rgba(48,195,158,0) 100%);
        }
        .img {
            height: 30px;
            width: 30px;
            background: #30C39E;
            color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .img-color {
            background: #F44336;
        }
        &-text {
            font-size: 18px;
            color: #1D293F;
            font-weight: 500;
        }
        .content-color {
            background: rgb(244,67,54);
            background: linear-gradient(90deg, rgba(244,67,54,0.28335084033613445) 0%, rgba(244,67,54,0) 100%);
        }
    }
}
// block-heading
.block-heading {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    &-title {
        font-size: 48px;
        color: #FFFFFF;
        font-weight: 700;
    }
    &-text {
        font-size: 18px;
        color: #FFFFFF;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    &-btn {
        background: #fff;
        color: #F0913B;
        font-size: 18px;
        font-weight: 500;
        &:hover {
            color: #F0913B;
        }
    }
}
.customer {
    &-title {
        font-size: 58px;
        color: #1D293F;
        font-weight: 700;
        max-width: 700px;
    }
    &-content {
        // width: 25%;
        border: 1px solid #E2E4E8;
        border-radius: 10px;
        margin-right: 15px;
        width: 350px;
    }
    &-img {
        width: 50px;
        height: 50px;
        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &-text {
        font-size: 16px;
        color: #1D293F;
        font-weight: 500;
    }
    &-nav {
        height: 25px;
		width: 25px;
        font-size: 45px;
        color: #E2E4E8;
		cursor: pointer;
		&:hover {
            color: #F0913B;
        }
    }
    // &-slider-wrap {
    //     margin-left: calc((100vw - 1140px) / 2 + 10px);
    // }
}
.slick {
    &-list {
        margin-bottom: 35px;
    }
    &-dots {
        display: flex;
        li {
            margin-right: 15px;
        }
        button {
            background: #E2E4E8;
            border: none;
            height: 45px;
            font-size: 0;
            min-width: 30px;
            height: 10px;
            padding: 0;
            &:hover {
                background: #F0913B;
            }
        }
    }
}
.block-bottom  {
    border-top: 1px solid #f6f7f9;
    text-align: center;
    &-img {
        min-height: 250px;
    }
    &-title {
        color: #000000;
        font-size: 35px;
        font-weight: 600;
    }
    &-text {
        color: #000000;
        font-size: 18px;
        width: 70%;
        margin: 0 auto;
    }
    &-btn {
        background: #30C39E;
        color: #FFFFFF;
        padding: 12px 30px;
        border-radius: 10px;
        font-size: 16px;
        height: 46px;
        &:hover {
            color: #FFFFFF;
        }
    }
}
.orange {
    color: #F0913B;
}
.title-iteam {
    color: #212D3F;
    font-size: 18px;
    font-weight: 600;
}
.text {
    font-size: 18px;
    color: #7C8087;
}