@import "variables";

/* ==========  Desktop First  ========== */

/* ≥1200px */
@include media-breakpoint-down(lg) {
    .container {
        max-width: none;
    }
    .customer-slider-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ≥992px */
@include media-breakpoint-down(md) {
    // .container {
    //     max-width: none;
    // }
    // .customer-slider-wrap {
    //     padding-left: 15px;
    //     padding-right: 15px;
    // }
    .header {
        background:#fff;
        z-index: 3;
        // height: 80px;
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // color: #fff;
        transition: all 0.3s ease;
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }
    .header-menu.active {
        opacity: 1;
        visibility: visible;
    }
    .header-menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3 ease;
    }
    .burger {
        display: block;
    }
    .header-item {
        padding-top: 10px;
        // padding-bottom: 10px;
        // color: black;
        // text-align: center;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0 !important;
        // padding-bottom: 10px;
        // border-bottom: none;
    }

}

/* ≥768px */
@include media-breakpoint-down(sm) {
    .home {
        flex-direction: column-reverse;
    }
    .home-left,
    .home-right,
    .business-content {
        width: 100%;
    }
    .home-title {
        font-size: 30px;
        // text-align: center;
    }
    .home-left {
        text-align: center;
    }
    .home-buttons {
        justify-content: center;
    }
    .home-feature-title,
    .invoicy-title {
        font-size: 18px;
    }
    .home-feature-block-title,
    .home-feature-text {
        font-size: 14px;
    }
    .business-title,
    .receipt-title {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
    }
    .template-text {
        width: 80%;
    }
    .template-img {
        margin-bottom: 25px;
    }
    .invoicy-col {
        display: none;
    }
    .invoicy-text  {
        font-size: 18px;
        margin: 0 auto;
        width: 70%;
    }
}

/* ≥576px */
@include media-breakpoint-down(xs) {

}


/* ==========  Mobile First  ========== */

/* ≤576px */
@include media-breakpoint-up(sm) {

}

/* ≤768px */
@include media-breakpoint-up(md) {

}

/* ≤992px */
@include media-breakpoint-up(lg) {
    // .customer-slider-wrap {
    //     margin-left: calc((100vw - 1140px) / 2 + 10px);
    //     width: calc(100vw - ((100vw - 1140px) / 2 + 10px));
    // }
}

/* ≤1200px */
@include media-breakpoint-up(xl) {
    .customer-slider-wrap {
        margin-left: calc((100vw - 1140px) / 2 + 10px);
        width: calc(100vw - ((100vw - 1140px) / 2 + 10px));
    }
}

