// privacy
.privacy {
	flex: 1 0 auto;
	overflow: hidden;
    padding-top: 140px;
    &-title {
        color: #3a3a3a;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
    }
    p {
        color: #3a3a3a;
        font-size: 18px;
    }
    strong {
        color: #3a3a3a;
        font-size: 18px;
        font-weight: 700;
    }
    // &-text {
    //     color: #3a3a3a;
    //     font-size: 18px;
    //     strong {
    //         font-weight: 700;
    //     }
    // }

}

